<!DOCTYPE html>
<html>

<head>
    <div class="header">
        <h1>Timetable</h1>
    </div>
</head>

<link rel="stylesheet" href="/static/new.css">

<link rel="stylesheet" href="/static/w3.css">
<link rel="stylesheet" href="/static/layout.css">


<body>
    <div id="nav">
        <ul id="navlist">
            <li class="navli"><a href="/login">Login</a></li>
            <li class="navli"><a href="/signup">Signup</a></li>
            <li class="navli"><a href="/home">Timetable</a></li>
            <li class="navli"><a href="/teachers">Teachers</a></li>
            <li class="navli"><a href="/demo">Demo</a></li>
        </ul>
    </div>
    <div id="else">
        <center>
            <p>
                The messages have been sent
            </p>
        </center>
    </div>
</body>

</html>