<html>

<head>
    <div id="else">
        <div class="header">
            <center>
                <h1>Kiranja: Setup</h1>
            </center>
        </div>
    </div>

    <link rel="stylesheet" href="/static/teachers.css">
    <link rel="stylesheet" href="/static/layout.css">
</head>

<body>

    <div id="nav">
        <ul id="navlist">
            <li class="navli"><a href="/login">Login</a></li>
            <li class="navli"><a href="/signup">Signup</a></li>
            <li class="navli"><a href="/home">Timetable</a></li>
            <li class="navli"><a href="/teachers">Teachers</a></li>
            <li class="navli"><a href="/demo">Demo</a></li>
        </ul>

    </div>
    <div id="else">
        <center>
            <table class="steelBlueCols">
                <caption>Timetable setup</caption>
                <tr>
                    <th> Teacher </th>
                    <th> Subject </th>
                    <th> Class</th>
                </tr>

                <tr>
                    <td> Mr Ian Wafula</td>
                    <td>
                        <ul>
                            <li>Computer Science</li>
                            <li>Mathematics</li>
                            <li>Physics</li>
                            <li>Chemistry</li>
                        </ul>
                    </td>
                    <td> 3D </td>
                </tr>
            </table>

        </center>
    </div>


</body>

</html>