<html>

<head>
    <div class="header">
        <center>
            <h1>Kiranja: Timetable</h1>
        </center>
    </div>
</head>
<link rel="stylesheet" href="table.css">
<link rel="stylesheet" href="layout.css">

<body>

    <div id="nav">
        <ul id="navlist">
            <li class="navli"><a href="/login">Login</a></li>
            <li class="navli"><a href="/signup">Signup</a></li>
            <li class="navli"><a href="/timetable">Timetable</a></li>
            <li class="navli"><a href="/teachers">Teachers</a></li>
        </ul>

    </div>

    <div id="else">
        <center>
            <table class="steelBlueCols">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="time"> to <input type="time"></td>
                        <td>
                            <!--Second lesson Monday-->
                            <select name="Lesson">
                            <option value="English">English</option>
                            <option value="English">Kiswahili</option>
                            <option value="English">Geography</option>
                            <option value="English">History</option>
                            <option value="English">CRE</option>
                            <option value="English">Biology</option>
                            <option value="English">Chemistry</option>
                            <option value="English">Physics</option>
                            <option value="English">Computer</option>
                            <option value="English">Mathematics</option>
                        </select>
                        </td>
                        <td>
                            <!--Second lesson Tuesday-->
                            <select name="Lesson">
                            <option value="English">English</option>
                            <option value="English">Kiswahili</option>
                            <option value="English">Geography</option>
                            <option value="English">History</option>
                            <option value="English">CRE</option>
                            <option value="English">Biology</option>
                            <option value="English">Chemistry</option>
                            <option value="English">Physics</option>
                            <option value="English">Computer</option>
                            <option value="English">Mathematics</option>
                        </select>
                        </td>
                        <td>
                            <!--Second lesson Wednesday-->
                            <select name="Lesson">
                            <option value="English">English</option>
                            <option value="English">Kiswahili</option>
                            <option value="English">Geography</option>
                            <option value="English">History</option>
                            <option value="English">CRE</option>
                            <option value="English">Biology</option>
                            <option value="English">Chemistry</option>
                            <option value="English">Physics</option>
                            <option value="English">Computer</option>
                            <option value="English">Mathematics</option>
                        </select>
                        </td>
                        <td>
                            <!--Second lesson Thursday-->
                            <select name="Lesson">
                            <option value="English">English</option>
                            <option value="English">Kiswahili</option>
                            <option value="English">Geography</option>
                            <option value="English">History</option>
                            <option value="English">CRE</option>
                            <option value="English">Biology</option>
                            <option value="English">Chemistry</option>
                            <option value="English">Physics</option>
                            <option value="English">Computer</option>
                            <option value="English">Mathematics</option>
                        </select>
                        </td>
                        <td>
                            <!--Second lesson Friday-->
                            <select name="Lesson">
                            <option value="English">English</option>
                            <option value="English">Kiswahili</option>
                            <option value="English">Geography</option>
                            <option value="English">History</option>
                            <option value="English">CRE</option>
                            <option value="English">Biology</option>
                            <option value="English">Chemistry</option>
                            <option value="English">Physics</option>
                            <option value="English">Computer</option>
                            <option value="English">Mathematics</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="time"> to <input type="time"></td>
                        <!--Break-->
                    </tr>

                </tbody>
                </tr>
            </table>
        </center>
    </div>
</body>

</html>